.ui-jqgrid {
	POSITION: relative; FONT-SIZE: 11px
}
.ui-jqgrid .ui-jqgrid-view {
	POSITION: relative; PADDING-BOTTOM: 0em; PADDING-LEFT: 0em; PADDING-RIGHT: 0em; TOP: 0px; PADDING-TOP: 0em; LEFT: 0px
}
.ui-jqgrid .ui-jqgrid-titlebar {
	POSITION: relative; BORDER-LEFT: 0px; PADDING-BOTTOM: 0.2em; PADDING-LEFT: 0.3em; PADDING-RIGHT: 0.2em; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0.3em
}
.ui-jqgrid .ui-jqgrid-title {
	MARGIN: 0.1em 0px 0.2em; FLOAT: left
}
.ui-jqgrid .ui-jqgrid-titlebar-close {
	POSITION: absolute; PADDING-BOTTOM: 1px; MARGIN: -10px 0px 0px; PADDING-LEFT: 1px; WIDTH: 19px; PADDING-RIGHT: 1px; HEIGHT: 18px; TOP: 50%; PADDING-TOP: 1px
}
.ui-jqgrid .ui-jqgrid-titlebar-close SPAN {
	MARGIN: 1px; DISPLAY: block
}
.ui-jqgrid .ui-jqgrid-titlebar-close:hover {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.ui-jqgrid .ui-jqgrid-hdiv {
	POSITION: relative; BORDER-LEFT: 0px; PADDING-BOTTOM: 0em; OVERFLOW-X: hidden; OVERFLOW-Y: auto; MARGIN: 0em; PADDING-LEFT: 0em; PADDING-RIGHT: 0em; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0em
}
.ui-jqgrid .ui-jqgrid-hbox {
	PADDING-RIGHT: 20px; FLOAT: left
}
.ui-jqgrid .ui-jqgrid-htable {
	MARGIN: 0em; TABLE-LAYOUT: fixed
}
.ui-jqgrid .ui-jqgrid-htable TH {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; HEIGHT: 22px; PADDING-TOP: 0px
}
.ui-jqgrid .ui-jqgrid-htable TH DIV {
	POSITION: relative; HEIGHT: 17px; OVERFLOW: hidden
}
.ui-th-column {
	BORDER-BOTTOM: 0px; TEXT-ALIGN: center; WHITE-SPACE: nowrap; OVERFLOW: hidden; BORDER-TOP: 0px
}
.ui-jqgrid .ui-jqgrid-htable TH.ui-th-column {
	BORDER-BOTTOM: 0px; TEXT-ALIGN: center; WHITE-SPACE: nowrap; OVERFLOW: hidden; BORDER-TOP: 0px
}
.ui-th-ltr {
	BORDER-LEFT: 0px
}
.ui-jqgrid .ui-jqgrid-htable TH.ui-th-ltr {
	BORDER-LEFT: 0px
}
.ui-th-rtl {
	BORDER-RIGHT: 0px
}
.ui-jqgrid .ui-jqgrid-htable TH.ui-th-rtl {
	BORDER-RIGHT: 0px
}
.ui-jqgrid .ui-th-div-ie {
	ZOOM: 1; WHITE-SPACE: nowrap; HEIGHT: 17px
}
.ui-jqgrid .ui-jqgrid-resize {
	POSITION: relative; DISPLAY: inline; HEIGHT: 20px !important; OVERFLOW: hidden; CURSOR: e-resize
}
.ui-jqgrid .ui-grid-ico-sort {
	POSITION: absolute; DISPLAY: inline; OVERFLOW: hidden; CURSOR: pointer !important
}
.ui-jqgrid .ui-icon-asc {
	MARGIN-TOP: -3px; HEIGHT: 12px
}
.ui-jqgrid .ui-icon-desc {
	MARGIN-TOP: 3px; HEIGHT: 12px
}
.ui-jqgrid .ui-i-asc {
	MARGIN-TOP: 0px; HEIGHT: 16px
}
.ui-jqgrid .ui-i-desc {
	MARGIN-TOP: 0px; HEIGHT: 16px; MARGIN-LEFT: 13px
}
.ui-jqgrid .ui-jqgrid-sortable {
	CURSOR: pointer
}
.ui-jqgrid TR.ui-search-toolbar TH {
	BORDER-TOP: 
}
TR.ui-search-toolbar INPUT {
	MARGIN: 1px 0px 0px
}
TR.ui-search-toolbar SELECT {
	MARGIN: 1px 0px 0px
}
.ui-jqgrid .ui-jqgrid-bdiv {
	POSITION: relative; TEXT-ALIGN: left; PADDING-BOTTOM: 0px; MARGIN: 0em; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; OVERFLOW: auto; PADDING-TOP: 0px
}
.ui-jqgrid .ui-jqgrid-btable {
	MARGIN: 0em; OUTLINE-STYLE: none; TABLE-LAYOUT: fixed
}
.ui-jqgrid TR.jqgrow {
	OUTLINE-STYLE: none
}
.ui-jqgrid TR.jqgroup {
	OUTLINE-STYLE: none
}
.ui-jqgrid TR.jqgrow TD {
	BORDER-BOTTOM: ; PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; WHITE-SPACE: pre; HEIGHT: 22px; OVERFLOW: hidden; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.ui-jqgrid TR.jqgfirstrow TD {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-RIGHT: 1px solid; PADDING-TOP: 0px
}
.ui-jqgrid TR.jqgroup TD {
	BORDER-BOTTOM: ; PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; WHITE-SPACE: pre; HEIGHT: 22px; OVERFLOW: hidden; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.ui-jqgrid TR.jqfoot TD {
	BORDER-BOTTOM: ; PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; WHITE-SPACE: pre; HEIGHT: 22px; OVERFLOW: hidden; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.ui-jqgrid TR.ui-row-ltr TD {
	TEXT-ALIGN: left; BORDER-RIGHT: 
}
.ui-jqgrid TR.ui-row-rtl TD {
	TEXT-ALIGN: right; BORDER-LEFT: 
}
.ui-jqgrid TD.jqgrid-rownum {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.ui-jqgrid .ui-jqgrid-resize-mark {
	BORDER-BOTTOM: 0px; POSITION: absolute; BORDER-LEFT: 0px; BACKGROUND-COLOR: #777; WIDTH: 2px; DISPLAY: none; HEIGHT: 100px; OVERFLOW: hidden; BORDER-TOP: 0px; TOP: 0px; CURSOR: col-resize; BORDER-RIGHT: 0px; LEFT: 0px
}
.ui-jqgrid .ui-jqgrid-sdiv {
	POSITION: relative; BORDER-LEFT: 0px; PADDING-BOTTOM: 0em; MARGIN: 0em; PADDING-LEFT: 0em; PADDING-RIGHT: 0em; OVERFLOW: hidden; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0em
}
.ui-jqgrid .ui-jqgrid-ftable {
	MARGIN-BOTTOM: 0em; TABLE-LAYOUT: fixed
}
.ui-jqgrid TR.footrow TD {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; WHITE-SPACE: nowrap; HEIGHT: 21px; OVERFLOW: hidden; BORDER-TOP: ; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.ui-jqgrid TR.footrow-ltr TD {
	TEXT-ALIGN: left; BORDER-RIGHT: 
}
.ui-jqgrid TR.footrow-rtl TD {
	TEXT-ALIGN: right; BORDER-LEFT: 
}
.ui-jqgrid .ui-jqgrid-pager {
	BORDER-BOTTOM: 0px; POSITION: relative; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px !important; MARGIN: 0px; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; WHITE-SPACE: nowrap; HEIGHT: 25px; OVERFLOW: hidden; BORDER-RIGHT: 0px; PADDING-TOP: 0px !important
}
.ui-jqgrid .ui-pager-control {
	POSITION: relative
}
.ui-jqgrid .ui-pg-table {
	POSITION: relative; PADDING-BOTTOM: 2px; MARGIN: 0em; WIDTH: auto
}
.ui-jqgrid .ui-pg-table TD {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; VERTICAL-ALIGN: middle; FONT-WEIGHT: normal; PADDING-TOP: 1px
}
.ui-jqgrid .ui-pg-button {
	HEIGHT: 19px !important
}
.ui-jqgrid .ui-pg-button SPAN {
	MARGIN: 1px; DISPLAY: block; FLOAT: left
}
.ui-jqgrid .ui-pg-button:hover {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.ui-jqgrid .ui-state-disabled:hover {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP: 1px
}
.ui-jqgrid .ui-pg-input {
	MARGIN: 0em; HEIGHT: 13px; FONT-SIZE: 0.8em
}
.ui-jqgrid .ui-pg-selbox {
	LINE-HEIGHT: 18px; MARGIN: 0em; DISPLAY: block; HEIGHT: 18px; FONT-SIZE: 0.8em
}
.ui-jqgrid .ui-separator {
	BORDER-LEFT: #ccc 1px solid; MARGIN: 1px; FLOAT: right; HEIGHT: 18px; BORDER-RIGHT: #ccc 1px solid
}
.ui-jqgrid .ui-paging-info {
	MARGIN-TOP: 3px; HEIGHT: 19px; FONT-WEIGHT: normal; MARGIN-RIGHT: 4px
}
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div {
	LIST-STYLE: none none outside; POSITION: relative; PADDING-BOTTOM: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 1px
}
.ui-jqgrid .ui-jqgrid-pager .ui-pg-button {
	CURSOR: pointer
}
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div SPAN.ui-icon {
	MARGIN: 0px 2px; FLOAT: left
}
.ui-jqgrid TD INPUT {
	MARGIN: 0em
}
.ui-jqgrid TD SELECT .ui-jqgrid TD TEXTAREA {
	MARGIN: 0em
}
.ui-jqgrid TD TEXTAREA {
	WIDTH: auto; HEIGHT: auto
}
.ui-jqgrid .ui-jqgrid-toppager {
	POSITION: relative; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px !important; MARGIN: 0px; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; WHITE-SPACE: nowrap; HEIGHT: 25px !important; OVERFLOW: hidden; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px !important
}
.ui-jqgrid .ui-jqgrid-btable .ui-sgcollapsed SPAN {
	DISPLAY: block
}
.ui-jqgrid .ui-subgrid {
	PADDING-BOTTOM: 0em; MARGIN: 0em; PADDING-LEFT: 0em; WIDTH: 100%; PADDING-RIGHT: 0em; PADDING-TOP: 0em
}
.ui-jqgrid .ui-subgrid TABLE {
	TABLE-LAYOUT: fixed
}
.ui-jqgrid .ui-subgrid TR.ui-subtblcell TD {
	BORDER-BOTTOM: ; HEIGHT: 18px; BORDER-RIGHT: 
}
.ui-jqgrid .ui-subgrid TD.subgrid-data {
	BORDER-TOP: 0px
}
.ui-jqgrid .ui-subgrid TD.subgrid-cell {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-WIDTH: 0px
}
.ui-jqgrid .ui-th-subgrid {
	HEIGHT: 20px
}
.ui-jqgrid .loading {
	Z-INDEX: 101; POSITION: absolute; TEXT-ALIGN: center; PADDING-BOTTOM: 6px; BORDER-RIGHT-WIDTH: 2px !important; MARGIN: 5px; PADDING-LEFT: 6px; WIDTH: auto; PADDING-RIGHT: 6px; DISPLAY: none; BORDER-TOP-WIDTH: 2px !important; BORDER-BOTTOM-WIDTH: 2px !important; BORDER-LEFT-WIDTH: 2px !important; TOP: 45%; FONT-WEIGHT: bold; PADDING-TOP: 6px; LEFT: 45%
}
.ui-jqgrid .jqgrid-overlay {
	Z-INDEX: 100; DISPLAY: none
}
* HTML .jqgrid-overlay {
	
}
* .jqgrid-overlay IFRAME {
	Z-INDEX: -1; POSITION: absolute; TOP: 0px; LEFT: 0px
}
.ui-jqgrid .ui-userdata {
	BORDER-LEFT: 0px; HEIGHT: 21px; OVERFLOW: hidden; BORDER-RIGHT: 0px
}
.ui-jqdialog {
	POSITION: absolute; PADDING-BOTTOM: 0.2em; PADDING-LEFT: 0.2em; WIDTH: 300px; PADDING-RIGHT: 0.2em; DISPLAY: none; FONT-SIZE: 11px; OVERFLOW: visible; PADDING-TOP: 0.2em
}
.ui-jqdialog .ui-jqdialog-titlebar {
	POSITION: relative; PADDING-BOTTOM: 0.3em; PADDING-LEFT: 0.2em; PADDING-RIGHT: 0.2em; PADDING-TOP: 0.3em
}
.ui-jqdialog .ui-jqdialog-title {
	MARGIN: 0.1em 0px 0.2em
}
.ui-jqdialog .ui-jqdialog-titlebar-close {
	POSITION: absolute; PADDING-BOTTOM: 1px; MARGIN: -10px 0px 0px; PADDING-LEFT: 1px; WIDTH: 19px; PADDING-RIGHT: 1px; HEIGHT: 18px; TOP: 50%; PADDING-TOP: 1px
}
.ui-jqdialog .ui-jqdialog-titlebar-close SPAN {
	MARGIN: 1px; DISPLAY: block
}
.ui-jqdialog .ui-jqdialog-titlebar-close:hover {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.ui-jqdialog .ui-jqdialog-titlebar-close:focus {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.ui-jqdialog-content {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0.3em; PADDING-LEFT: 0.2em; PADDING-RIGHT: 0.2em; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: auto; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0.3em
}
.ui-jqdialog .ui-jqdialog-content {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0.3em; PADDING-LEFT: 0.2em; PADDING-RIGHT: 0.2em; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: auto; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0.3em
}
.ui-jqdialog .ui-jqconfirm {
	POSITION: absolute; TEXT-ALIGN: center; PADDING-BOTTOM: 0.4em; BORDER-RIGHT-WIDTH: 3px; PADDING-LEFT: 1em; WIDTH: 220px; BOTTOM: 10px; PADDING-RIGHT: 1em; DISPLAY: none; BORDER-TOP-WIDTH: 3px; BORDER-BOTTOM-WIDTH: 3px; HEIGHT: 80px; OVERFLOW: visible; BORDER-LEFT-WIDTH: 3px; RIGHT: 10px; PADDING-TOP: 0.4em
}
.ui-jqdialog-content .FormGrid {
	MARGIN: 0px
}
.ui-jqdialog-content .EditTable {
	WIDTH: 100%; MARGIN-BOTTOM: 0em
}
.ui-jqdialog-content .DelTable {
	WIDTH: 100%; MARGIN-BOTTOM: 0em
}
.EditTable TD INPUT {
	MARGIN: 0em
}
.EditTable TD SELECT {
	MARGIN: 0em
}
.EditTable TD TEXTAREA {
	MARGIN: 0em
}
.EditTable TD TEXTAREA {
	WIDTH: auto; HEIGHT: auto
}
.ui-jqdialog-content TD.EditButton {
	TEXT-ALIGN: right; BORDER-LEFT: 0px; PADDING-BOTTOM: 5px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 5px
}
.ui-jqdialog-content TD.navButton {
	TEXT-ALIGN: center; BORDER-LEFT: 0px; PADDING-BOTTOM: 5px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 5px
}
.ui-jqdialog-content INPUT.FormElement {
	PADDING-BOTTOM: 0.3em; PADDING-LEFT: 0.3em; PADDING-RIGHT: 0.3em; PADDING-TOP: 0.3em
}
.ui-jqdialog-content .data-line {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0.1em
}
.ui-jqdialog-content .CaptionTD {
	BORDER-BOTTOM: 0px; TEXT-ALIGN: left; BORDER-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; WHITE-SPACE: nowrap; VERTICAL-ALIGN: middle; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 2px
}
.ui-jqdialog-content .DataTD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; VERTICAL-ALIGN: top; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 2px
}
.ui-jqdialog-content .form-view-data {
	WHITE-SPACE: pre
}
.fm-button {
	POSITION: relative; TEXT-ALIGN: center; PADDING-BOTTOM: 0.4em; MARGIN: 0px 4px 0px 0px; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; ZOOM: 1; DISPLAY: inline-block; CURSOR: pointer; TEXT-DECORATION: none !important; PADDING-TOP: 0.4em
}
.fm-button-icon-left {
	PADDING-LEFT: 1.9em
}
.fm-button-icon-right {
	PADDING-RIGHT: 1.9em
}
.fm-button-icon-left .ui-icon {
	POSITION: absolute; MARGIN-TOP: -8px; MARGIN-LEFT: 0px; TOP: 50%; RIGHT: auto; LEFT: 0.2em
}
.fm-button-icon-right .ui-icon {
	POSITION: absolute; MARGIN-TOP: -8px; MARGIN-LEFT: 0px; TOP: 50%; RIGHT: 0.2em; LEFT: auto
}
#nData {
	PADDING-BOTTOM: 0px; MARGIN: 3px; PADDING-LEFT: 0px; WIDTH: 15px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
#pData {
	PADDING-BOTTOM: 0px; MARGIN: 3px; PADDING-LEFT: 0px; WIDTH: 15px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
.ui-jqgrid .selected-row {
	BORDER-LEFT: 0px; FONT-STYLE: normal
}
DIV.ui-jqgrid .selected-row TD {
	BORDER-LEFT: 0px; FONT-STYLE: normal
}
.ui-jqgrid .tree-wrap {
	POSITION: relative; WHITE-SPACE: nowrap; FLOAT: left; HEIGHT: 18px; OVERFLOW: hidden
}
.ui-jqgrid .tree-minus {
	POSITION: absolute; WIDTH: 18px; HEIGHT: 18px; OVERFLOW: hidden
}
.ui-jqgrid .tree-plus {
	POSITION: absolute; WIDTH: 18px; HEIGHT: 18px; OVERFLOW: hidden
}
.ui-jqgrid .tree-leaf {
	POSITION: absolute; WIDTH: 18px; HEIGHT: 18px; OVERFLOW: hidden
}
.ui-jqgrid .treeclick {
	CURSOR: pointer
}
* IFRAME.jqm {
	Z-INDEX: -1; POSITION: absolute; TOP: 0px; LEFT: 0px
}
.ui-jqgrid-dnd TR TD {
	HEIGHT: 20px; BORDER-RIGHT: 
}
.ui-jqgrid .ui-jqgrid-title-rtl {
	MARGIN: 0.1em 0px 0.2em; FLOAT: right
}
.ui-jqgrid .ui-jqgrid-hbox-rtl {
	PADDING-LEFT: 20px; FLOAT: right
}
.ui-jqgrid .ui-jqgrid-resize-ltr {
	MARGIN: -2px -2px -2px 0px; FLOAT: right
}
.ui-jqgrid .ui-jqgrid-resize-rtl {
	MARGIN: -2px 0px -1px -3px; FLOAT: left
}
.ui-jqgrid .ui-sort-rtl {
	LEFT: 0px
}
.ui-jqgrid .tree-wrap-ltr {
	FLOAT: left
}
.ui-jqgrid .tree-wrap-rtl {
	FLOAT: right
}
.ui-jqgrid .ui-ellipsis {
	TEXT-OVERFLOW: ellipsis; -moz-binding: url(ellipsis-xbl.xml#ellipsis)
}
